@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.body {
  max-width: 1600px;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.logo-color {
  color: #000000;
}

.logo:hover, .logo:focus {
  color: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: block;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop-is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn-icon {
  width: 18px;
  height: 18px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover, .close-btn-icon:focus {
  fill: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196F3;
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  border-color: #2196F3;
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  display: block;
  padding-top: 12px;
  padding-left: 16px;
  width: 100%;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:not(:placeholder-shown) {
  color: #000;
}

.form-comment:focus {
  border-color: #2196F3;
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon:focus {
  border-color: #2196F3;
  fill: #2196F3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn {
  width: 200px;
  height: 50px;
  color: #2196F3;
  margin-left: 125px;
  margin-top: 30px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  background-color: #2196F3;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label {
  display: block;
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  appearance: none;
  position: absolute;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .policy-icon {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  background-image: url(../images/iconcheck2.svg);
  background-size: contain;
  background-origin: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 6px;
}

.policy-link {
  text-decoration-skip-ink: none;
  color: #2196F3;
  text-decoration: underline;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list .link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.social-list .link:hover {
  background-color: #2196F3;
}

.social-list .link:hover .icon {
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .item + .item {
  margin-left: 10px;
}

.social-list .icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  cursor: pointer;
}

.header {
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 1200px;
  padding: 0 15px;
}

.navigation-list {
  display: flex;
  margin-right: auto;
  margin-left: 93px;
  align-items: center;
}

.navigation-list .item {
  position: relative;
}

.navigation-list .item + .item {
  margin-left: 50px;
  text-decoration: none;
  list-style-type: none;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #212121;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2196F3;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list-link-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  margin-top: 45px;
  background-color: #2196F3;
  border-radius: 2px;
}

.address {
  display: flex;
}

.address .icon-envel {
  fill: #757575;
  margin-right: 10px;
}

.address .icon-tel {
  fill: #757575;
  margin-right: 10px;
}

.address .item + .item {
  margin-left: 50px;
  text-decoration: none;
  list-style-type: none;
}

.address-link-mail,
.address-link-tel {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.address-link-mail:hover, .address-link-mail:focus,
.address-link-tel:hover,
.address-link-tel:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mail:hover .icon-envel,
.address-link-tel:hover .icon-tel {
  fill: #2196F3;
}

.navigation {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
}

.container-nav {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  display: flex;
  width: 1200px;
  justify-content: center;
}

.portfolio-container .item + .item {
  margin-left: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  border: none;
}

.portfolio-btn:hover {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.portfolio-btn :focus {
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.portfolio-container .item + .item {
  margin-left: 8px;
}

.projects {
  max-width: 1600px;
  margin: 0 auto;
}

.project-title {
  display: block;
  margin-top: 4px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
  justify-content: center;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 294px;
  padding: 63px 24px 63px 24px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  position: absolute;
  width: 322px;
  height: 168px;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.item:hover .project-overlay,
.item:focus .project-overlay,
.item:hover .overlay-text,
.item:focus .overlay-text {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(0);
}

.pic {
  display: block;
}

.project-list .item {
  position: relative;
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.project-list .item:hover,
.project-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  border: none;
}

.project-list .item:nth-child(3n) {
  margin-right: 0px;
}

.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-list .item .article {
  display: block;
  width: 370px;
  height: 115px;
  padding: 20px 24px;
}

.project-description {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 0px;
  margin-top: 0px;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  max-width: 1600px;
  height: 252px;
  margin: 0 auto;
  background-color: #2F303A;
}

.footer-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: flex-start;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  padding-top: 60px;
}

.footer-logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-logo-blue {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-address-item li {
  display: block;
  margin-bottom: 9px;
}

.footer-address-item-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-address-item-link:hover {
  color: #2196F3;
}

.footer-address-item-link:focus {
  color: #2196F3;
}

.footer-address-contact-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-address-contact-link:hover, .footer-address-contact-link:focus {
  color: #2196F3;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  margin-left: 70px;
}

.footer-socials .social-list .link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.footer-socials .social-list .link:hover {
  background-color: #2196F3;
}

.social-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-socials .social-list .icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  cursor: pointer;
}

.subscribe {
  display: block;
  align-items: center;
  width: 570px;
  height: 86px;
  margin-top: 72px;
  margin-left: 93px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-form_input {
  display: inline-block;
  margin-top: 20px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.email {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
}

.submit-icon {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */