
.clients {
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;  

        &-container {
            display: flex; 
            flex-direction: column;
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 94px;
            padding-bottom: 124px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;  
        }
        &-title {
            font-family: var(--main-font);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
            letter-spacing: 0.03em;
            color: $title-text-color;
            margin-bottom: 50px;      
        }
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        & .item {
            fill: $link-color;  

            & + .item {
                margin-left: 30px;
            }
        }
        & .link {
            display: flex;
            width: 170px;
            height: 90px;
            border: 1px solid $link-color;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            fill: $link-color;
            &:hover {
                border: 1px solid $accent-color;
                fill: $accent-color;
            }
        }
}


// .clients-list .item + .item {
//     margin-left: 30px;
// }
// .clients-list .link {
//     display: flex;
//     width: 170px;
//     height: 90px;
//     border: 1px solid $link-color;
//     box-sizing: border-box;
//     align-items: center;
//     justify-content: center;
//     border-radius: 4px;
//     fill: $link-color;
// }
// .clients-list .link:hover {
//     border: 1px solid $accent-color;
//     fill: $accent-color;
// }
