.header {
    display: flex;
    border-bottom: 1px solid #ECECEC;;
}

.nav-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1200px;
    padding: 0 15px; 
} 
.navigation-list {
    display: flex;
    margin-right: auto;
    margin-left: 93px;
    align-items: center;   
       & .item {
            position: relative;
        
            & + .item {
                margin-left: 50px;
                text-decoration: none;
                list-style-type: none;
            }
        }
        &-link {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            font-family: Roboto, sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: $title-text-color;
            line-height: 1.14;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
            &:focus {
                color: $accent-color;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
            }
        }

}


.navigation-list-link-active {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $accent-color;
    line-height: 1.14;
    letter-spacing: 0.02em;
       
        &::after { 
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            left: 0;
            margin-top: 45px;
            background-color: $accent-color;
            border-radius: 2px;  
        }
}

.address {
    display: flex;
        & .icon-envel {
            fill: $primary-text-color;
            margin-right: 10px;
        }
        & .icon-tel {
            fill: $primary-text-color;
            margin-right: 10px; 
        }
        & .item + .item {
            margin-left: 50px;
            text-decoration: none;
            list-style-type: none;
        }
}
.address-link-mail,
.address-link-tel {
    display: flex;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
        &:hover,
        &:focus {
            color: $accent-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        }
}


.address-link-mail:hover .icon-envel,
.address-link-tel:hover .icon-tel {
    fill: $accent-color;
}

