.hero-button {
    width: 200px;
    height: 50px;
    color: $accent-color;
    margin: 0px 700px 200px 700px;
    border-radius: 4px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background-color: $accent-color;   
}