   
.team {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F5F4FA;
    padding-top: 94px;
    align-items: center;

        &-container {
            display: flex; 
            flex-direction: column;
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 94px;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;  
            & .team-element + .team-element {
                margin-left: 30px;
            } 
        }

        &-title {
            font-family: $main-font;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.167;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
            
            color: $title-text-color;
        }
        &-list {
            display: flex; 
            align-items: center;
         }
         &-element {
            text-align: center;
            background-color: #ffffff;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
        &-photo {
            display: block;
        }
        &-member {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            color: $title-text-color;
            margin-bottom: 10px;
        }
}

.content {
    padding-top: 30px;
    border-radius: 0px 0px 4px 4px;
    
}

.profession {
    display: block;
    margin-bottom: 16px;
    font-family: $main-font;
    font-style: 400;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}